<%= render_partial "partial/about" -%>

<%= render_partial "partial/breadcrumb" -%>

<%= render_partial "partial/tabs" -%>

<%= render_partial "partial/contribute" -%>

<div class='list'>

	<h3>ecolocal Terms and Conditions</h3>

	Terms and conditions to go here.
	<br/><br/>
</div>