<%= render_partial "partial/about" -%>

<%= render_partial "partial/breadcrumb" -%>

<%= render_partial "partial/tabs" -%>

<%= render_partial "partial/contribute" -%>

<div class='list'>

	<h3>Thank you for contacting ecolocal</h3>

	Thank you for your getting in touch. We'll get back to you shortly.
	<br/><br/>
</div>