<%= render_partial "partial/breadcrumb" %>

<%= render_partial "partial/ad" %>

<div class='left'>
	<span class='title'>Listing all groups</span>
	<div class='content'>
		<%= render_partial "partial/list_groups" %>
	</div>
</div>

<%= render_partial "partial/about" %>

<%= render_partial "partial/groups" %>

<%= render_partial "partial/contribute" %>