<div class='right'>
	<span class='title'>
		Help: Places to go
	</span>
	<div class='content'>
		<small>
			<b>1.</b> Use this form to tell us about places to go with your family and friends.
			<br/><br/>
			<b>2.</b> Add a short title and put the rest of the details in the box marked 'Body'.
			<br/><br/>
			<b>3.</b> Add some tags to give your entry some context.
		</small>
	</div>
</div>
