<div class='right'>
	<span class='title'>
		Help: Local services
	</span>
	<div class='content'>
		<small>
			<b>1.</b> Use this form to tell us about a local tradesman and services that you think other people on ecolocal will find useful.
			<br/><br/>
			<b>2.</b> Add a few words in the 'description' box to tell us more about the local services that you've found useful.
			<br/><br/>
			<b>3.</b> Add some tags to give your entry some context.
		</small>
	</div>
</div>
