<div class='right'>
	<span class='title'>
		Help: People who help
	</span>
	<div class='content'>
		<small>
			<b>1.</b> Use this form to tell us about someone who helped you or a friend, and that other users of ecolocal will also find useful.
			<br/><br/>
			<b>2.</b> Add a short title and put the rest of their details in the box marked 'Body'.
			<br/><br/>
			<b>3.</b> Add some tags to give your entry some context.
		</small>
	</div>
</div>
