<div class='right'>
	<span class='title'>
		Help: Chat 
	</span>
	<div class='content'>
		<small>
			<b>1.</b> Use this form to start chatting about anything that you think other users of ecolocal will find interesting.
			<br/><br/>
			<b>2.</b> Add a short title and put the rest of your chat in the box marked 'Body'.
			<br/><br/>
			<b>3.</b> Add some tags to give the chat some context so that other people can easily find it later on.
		</small>
	</div>
</div>
