<div class='article-about'>
		<small>
			Login to ecolocal and you can submit news, post comments and keep track on anything you find interesting.
			<br/>
			<br/>
			<a href='/register/'>Register now if you're not already a member</a>
		</small>
</div>
