<div class='right'>
	<span class='title'>
		Help: Bookmarks	
	</span>
	<div class='content'>
		<small>
			<b>1.</b> Use this form to bookmark a website that you think other people on ecolocal will find useful.
			<br/><br/>
			<b>2.</b> Add a few words in the 'Bookmark description' to explain what the bookmark points to.
			<br/><br/>
			<b>3.</b> Add some tags to give the bookmark some context.
		</small>
	</div>
</div>
