<div class='article-about'>
	<span class='misc'>
		<small>
			Join ecolocal and you can submit news, save popular stories and share your own ideas about living a greener, healthier lifestyle.
			<br/>
			<br/>
			<a href='/members/login/'>Login here if you're already created an account</a>.
		</small>
	</span>
</div>
