<div class='strapline-alt'>
	<div class='sections'>
		<% if params[:title] -%>
			Sections:
			<a href="" onclick="Element.toggle('whos_talking'); return false;">Who's talking?</a>
		<% else -%>
			&nbsp;
		<% end -%>
	</div>
</div>