Hello <%= @register.forename %>,

Your ecolocal account has been successfully created. To confirm your email address, click the link below or copy and paste it into your browser.

http://www.ecolocal.co.uk/register/activate/<%= @register.activation_code %>

Thanks,

Jane & Duncan at ecolocal.com
