Hello <%= @user.nickname %>, we've reset your ecolocal password as requested. 

Your new password is <%= @user.password %>

Please login and change your password to something more secure as soon as possible.

http://www.ecolocal.com/members/login

Thanks,

Jane & Duncan at ecolocal.com
