Congratulations <%= @register.nickname %>, you've activated your ecolocal account.

Now why come and say hello to us, here:

http://www.ecolocal.com/discuss/introduce_yourself

Thanks,

Jane & Duncan at ecolocal.com
