<div class='list'>
	<h3>Technical problems, gremlins and bugs!</h3>

	<div class='no-stripe'>
		Sorry, it looks like there's a problem with out site. Rest assured, our highly skilled team of geeks have already been informed, and fired ;)
		<br/>
		<br/>
		We'll get the site working as soon as we can. In the meantime, you can use our <a href='http://ecolocal.co.uk/help/contact'>contact us</a> page to get in touch.
		<br/>
		<br/>
		Thanks,
		<br/>
		<br/>
		All @ ecolocal.co.uk
	</div>
</div>