<%= render_partial "partial/about" -%>

<%= render_partial "partial/breadcrumb" -%>

<%= render_partial "partial/tabs" -%>

<div class='list_full'>
	<span class='misc'><big><b>Password for ecolocal reset</b></big></span>
  <br/>
  Your new password is being generated and sent to you.
  <br/>
  <br/>
  Please check your email, and your spam folder too, in order to login to ecolocal again!
</div>
